<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <header>
        <h1>Admin Homepage</h1>
        <a class="logout-btn" href="{% url 'logout' %}">Logout</a>
    </header>

    <main>
        <p>Welcome to the admin panel!</p>
        <nav>
            <ul>
                <li><a href="{% url 'signup' %}">➕ Add New User</a></li>
                <li><a href="{% url 'experiences' %}">📑 Add Experience</a></li>
                <li><a href="{% url 'projects' %}">💻 Add Project</a></li>
                <li><a href="{% url 'resumes' %}">📂 Add Resume</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>
